.navbar-brand {
  font-weight: bold;
}

.navbar-scrolled {
  backdrop-filter: blur(100px);
}

section.homesec {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  border-radius: 15px;
  margin-top: 0;
  margin-bottom: 80px;
}

footer p {
  margin: 0;
}

/* Hover scaling animation */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

/* Card hover effect */

.bg-white img {
  object-fit: cover;
  height: 250px; /* Adjust the height as needed */
  width: 50%;
}

/* Ensure the section is positioned relative for the background to work */
#about {
  position: relative;
  overflow: hidden;
}

/* Content stays above the background */
#about .container {
  position: relative;
  z-index: 2;
}

#root {
  position: absolute;
  margin-top: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#projects {
  padding-top: 0%;
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
}

#skillTrack {
  transition: transform 0.5s ease;
}

.min-width {
  min-width: 30%; /* Show 3 at a time */
}

.transition {
  will-change: transform;
}

.svgWeb {
  width: 100%;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Adjust Colors for Dark Themes */

h1 {
  margin: 12px 0;
  text-align: center;
}

p {
  margin: 12px 0;
}

a {
  color: var(--link-color);
  font-weight: bold;
  transition: color 0.15s;
}
a:visited {
  color: var(--link-visited-color);
}
a:focus {
  color: var(--link-focus-color);
  outline: none;
}

a:active {
  color: var(--link-visited-color);
}

#about {
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
}

.about-text {
  border-radius: 15px;
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
  padding: 10px 10px 10px 10px;
  width: 80%;
}
.skillcon {
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
  border-color: #f87060;
}

.skillsec-frontend,
.skillsec-backend,
.skillsec-tools,
.skillsec-others {
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
}

.progres {
  background-color: #f87060;
}

.btn-skill {
  background-color: #f87060;
}

.home-icon {
  color: #f87060;
}

.footericon i {
  margin-bottom: 20px;
  color: #f87060;
  background-color: #102542;
}

.footerlinks i {
  color: #f87060;
}

.footerlinks:hover {
  color: #f87060;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn-tools {
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  font-size: 5rem;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  margin-top: 16px;
  background: radial-gradient(
    ellipse at center,
    #34679a 0%,
    #214163 47%,
    #0d1926 100%
  );
}

.btn-tools:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.SkillIconSec {
  background-color: #f87060;
}

.contact-icon,
.seclabel,
.btn-dl i {
  color: #f87060;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.btn-1 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #f87060;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #f87060;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.btn-1:before {
  transition: 0.5s all ease;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #0d1926;
  z-index: -1;
}

.btn-1:hover,
.btn-1:focus {
  color: white;
}

.btn-1:hover:before,
.btn-1:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-1:active {
  transform: scale(0.9);
}

.softicon {
  color: #f87060;
}

.btn-send {
  font-family: inherit;
  font-size: 15px;
  background: #f87060;
  color: white;
  padding: 0.5em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-send span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-send:hover svg {
  transform: translateX(1.4em) rotate(45deg) scale(1.1);
}

.btn-send:hover span {
  transform: translateX(5em);
}

.btn-send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
